  :root{
    --man-color:#D4D4D4;
    --manf8-color:#FD4505;
    --man1-color:#333335;
    --man-black-color:#000000;
    
    }
   
    body {
      font-family: 'Be Vietnam Pro', sans-serif;
      background: var(--man-color);
      margin: 0;
      padding: 0;
    }

    .wrapper {
      display: flex;
      max-width: 1500px;
      margin: 20px auto;
      border:0 solid #000000 ;
      background: var(--man-color);
      min-height: 600px;
    }

    /* Sidebar bên trái */
    .sidebar-menu {
      position: relative;
      width: 60px;
      height: 210px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: var(--man-black-color);
      margin: 10px;
      padding: 20px 0;
      border-radius: 12px;
      align-items: center;
    }

    .sidebar-menu .menu-btn {
      background: transparent;
      color: var(--man-color);
      border: none;
      font-size: 20px;
      padding: 12px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      width: 58px;
      height: 35px;
      display: flex;
      align-items: center; /*canh trên dưới*/
      justify-content: center; /*canh trái phải*/
    }

    .sidebar-menu .menu-btn:hover {
      background: var(--manf8-color);
      color: #fff;
      
    }

    /* menu cha */
    .sidebar-menu .menu {
      position: relative;
      display: inline-block;
    }

    /* submenu ẩn mặc định */
    .sidebar-menu .submenu {
      display: none;
      position: absolute;
      top: -36px;
      left: 60px; /* nằm bên phải sidebar */
      width: 140px;
      height: auto;
      background: rgba(16, 16, 18, 0.8);
      color: var(--man-color);
      backdrop-filter: blur(8px);
      border: 1.5px solid var(--manf8-color);
      border-radius: 12px;
      padding: 10px 0;
      list-style: none;
      z-index: 99;
    }

    .sidebar-menu .submenu li {
      color: var(--man-color);
      font-family: "Jost", sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .sidebar-menu .submenu li:hover {
      color: var(--manf8-color);
    }

    /* khi hover vào menu cha thì hiện submenu */
    .sidebar-menu .menu:hover .submenu {
      display: block;
    }

    /* Phần nội dung bên phải */
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 2px solid #000000;
    }

    .header {
      text-align: center;
      padding: 15px;
      font-size: 25px;
      letter-spacing: 0.2em; /* = 14% */
      border-bottom: 2px solid #000000;
      background: #333335;
      color: var(--man-color);

    }
    .main {
      display: flex;
    }

    .list {
      flex: 1;
      list-style: none;
      margin: 0;
      padding: 10px 20px;
      border-left: 2px solid #000000;
    }

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 20px;
      border-left: 2px solid #000000;
      border-right: 2px solid #000000;
      border-top: 2px solid #000000;
      background: var(--man-color);
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .list-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;   /* bỏ gạch chân */
      color: inherit;          /* giữ màu chữ */
      width: 100%;
      height: 100%;
    }
    .list-item:last-child {
      border-bottom: 2px solid #000000 ;
    }

    .list-item:hover {
      background: var(--man1-color);
      color: var(--manf8-color);
      
    }

    .list-item .text {
      display: flex;
      flex-direction: column;
      
      
    }

    .list-item .title {
      font-size: 19px;
      font-weight: bold;
      letter-spacing: 0.1em;
      padding: 5px 5px 5px 15px;
    }

    .list-item .desc {
      font-size: 17px;
      font-weight: ;
      letter-spacing: 0.1em;
      color: var(--man-black-color);
    }

    .list-item:hover .desc {
      color: #D4D4D4;              /* màu chữ */
    }

    .list-item .number {
      font-size: 50px;
      font-weight: 500;
      padding-right: 12px;
    }
      .list-item .number-right {
      font-size: 50px;
      font-weight: 500;
    }

